
/* overflow: hidden */
/* div {
    height: 20vh;
    overflow: hidden;
} */

/* overflow: scroll */
/* div {
    height: 20vh;
    overflow: scroll;
} */

/* Transform */
/* body {
    border: 2px black solid;
} */

/* translate */
/* .box {
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate(50px, 100px);
} */

/* rotate */
/* .box {
    width: 200px;
    height: 200px;
    background-color: red;
    transform: rotate(45deg);
    margin: 100px;
} */

/* scale */
/* .box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 100px;
    transform: scale(1.5, 2)
} */

/* Combination of all (translate, rotate, scale) */
/* .box {
    margin: 100px;
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate(100px, 200px) rotate(45deg) scale(1.5, 2.5);
} */


/* padding */
.box {
    height: 100px;
    width: 100px;
    background-color: red;
    padding: 15px 5px 20px 10px; /* Top, right, bottom, left */
}

/* border */
/* .box {
    border: 5px solid blue;
} */

/* border with customizations */
.box {
    border-width: 5px 10px 15px 20px
}