
/* overflow: hidden */
/* div {
    height: 20vh;
    overflow: hidden;
} */

/* overflow: scroll */
/* div {
    height: 20vh;
    overflow: scroll;
} */

/* Transform */
body {
    border: 2px black solid;
}

