/* overflow: hidden */
/* div {
    height: 20vh;
    overflow: hidden;
} */

/* overflow: scroll */
/* div {
    height: 20vh;
    overflow: scroll;
} */

/* Transform */
/* body {
    border: 2px black solid;
} */

/* translate */
/* .box {
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate(50px, 100px);
} */

/* rotate */
/* .box {
    width: 200px;
    height: 200px;
    background-color: red;
    transform: rotate(45deg);
    margin: 100px;
} */

/* scale */
/* .box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 100px;
    transform: scale(1.5, 2)
} */

/* Combination of all (translate, rotate, scale) */
/* .box {
    margin: 100px;
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate(100px, 200px) rotate(45deg) scale(1.5, 2.5);
} */

/* padding */
/* .box {
    height: 100px;
    width: 100px;
    background-color: red;
    padding: 15px 5px 20px 10px;
} */

/* border */
/* .box {
    border: 5px solid blue;
} */

/* border with customizations */
/* .box {
    border-color: blue green yellow orange;
    border-width: 5px 10px 15px 20px;
    border-style: solid dashed dotted double;
} */

/* margins */
/* .box {
    margin: 15px 10px 15px 25px;
} */

/* Margin Collapsing */
/* .box1 {
    background-color: lightblue;
    margin-bottom: 20px;
} */
/* 
youd assume that the it should be 20+30=50px but due to margin collapsing the distance will be 30px the larger margin
*/
/* .box2 {
    background-color: lightgreen;
    margin-top: 30px;
} */

/* Parent and Child */
/* .parent {
    margin-top: 40px;
    background-color: yellow;
}

.child {
    margin-top: 30px;
    background-color: lightpink;
} */

/* Empty block */
/* .empty-block {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 0;
}

.next-block {
    background-color: lightgray;
} */

/* Preventing Margin Collapse using Padding */
/* .parent {
    margin-top: 40px;
    padding-top: 1px;
    background-color: yellow;
}

.child {
    margin-top: 30px;
    background-color: pink;
} */

/* Box Sizing */

/* content box */
/* * {
    box-sizing: content-box;
}

div {
    border: 4px solid black;
    width: 300px;
    height: 100px;
    padding: 20px;
} */

/* content-box vs content-box */
/* .box {
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 4px solid black;
    margin: 10px;
}

#red-div {
    background-color: red;
    box-sizing: content-box;
}

#blue-div {
    background-color: blue;
    box-sizing: border-box;
} */

